body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  width: 576px;

  * {
    box-sizing: border-box;
  }

  #bookmarks-container {
    background: url(../../../assets/images/backgrounds/bookmarks_half.jpg)
      no-repeat;
    background-position: top left;
    background-size: cover;
  }

  ul {
    display: block;
    padding: 0;
    margin: 0;

    li,
    .toggle {
      width: percentage(1/3);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
    }
  }

  > ul {
    > li,
    > li > .toggle {
      width: percentage(1/4);
    }
  }

  .option {
    background: #fffc;
    border: 0 solid #0001;
    border-left-width: 1px;
    border-bottom-width: 1px;
    line-height: 28px;
    padding: 0 6px;
    color: #757575;

    &:not(.disabled) {
      &.clickable {
        cursor: pointer;
      }

      &:hover {
        filter: brightness(90%);
      }
    }

    > *:not(.option) {
      display: block;
      text-shadow: 1px 0 0px #0004;
    }

    .host-material:after {
      content: '●';
      cursor: pointer;
      display: inline-block;
      font-size: 1.5em;
      padding: 0 4px;
    }

    &,
    .host-material {
      &.wind {
        color: #66bb6a;
      }

      &.fire {
        color: #ef5350;
      }

      &.water {
        color: #42a5f5;
      }

      &.earth {
        color: #8d6e63;
      }

      &.light {
        color: #ebb100;
      }

      &.dark {
        color: #ab47bc;
      }
    }
  }

  .bookmark-group {
    position: relative;
    width: 100%;

    &:not(:hover) ul {
      height: 0;
      overflow: hidden;
    }

    &:hover ul {
      height: initial;
    }

    .toggle {
      position: relative;

      &:before {
        content: 'chevron_left';
        font-family: 'Material Icons';
        left: 0;
        position: absolute;
        vertical-align: middle;
        transform: scale(1, 1.5);
      }
    }

    ul {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      left: 0;
      width: percentage(3/4);

      position: absolute;
      top: 0;
      z-index: 1;

      &:hover {
        height: initial;
      }

      li {
        margin: 0;
      }
    }
  }

  a {
    text-decoration: none;
  }
}
