body {
  box-sizing: border-box;
  color: #3e2723;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
  padding: 16px 24px;

  background: url(../../assets/images/backgrounds/bookmarks.jpg) no-repeat;
  background-position: top left;
  background-size: cover;

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  form {
    p {
      display: flex;
      margin: 0.33em 0;
    }

    button {
      padding: 4px;
      min-width: 128px;
    }
  }

  input[type='checkbox'] {
    margin-right: 4px;
  }

  /*input[type='checkbox'] {
    width: 0;
    margin: 0 20px 0 0;

    &:before {
      font-family: 'Material Icons';
      font-size: 18px;
      color: #1976d2;
    }

    &:checked {
      &:before {
        content: 'check_box';
      }
    }
    &:not(:checked) {
      &:before {
        content: 'check_box_outline_blank';
      }
    }
  }*/
}
