.card {
  background: var(--c-background);
  border-radius: 8px;
  border: 2px solid var(--c-card-border);
  display: flex;
  flex-direction: column;

  > * {
    &:not(.equal-padding) {
      padding: 8px 12px;
    }

    &.equal-padding {
      padding: 12px;
    }
  }

  .header {
    background: var(--c-card-border);
    color: white;
    display: inline-flex;
    font-size: 1.1em;
    min-height: 38px;

    .icon {
      font-size: 0.9em;
    }
  }

  .contents {
    flex: 1;
  }
}
