.with-tooltip {
  --c-background: #17506d;
  --c-foreground: #e9f7f8;
  --arrow-size: 4px;

  cursor: pointer;
  position: relative;

  .tooltip {
    background-color: var(--c-background);
    border-radius: 4px;
    color: var(--c-foreground);
    cursor: auto;
    left: calc(100% + 8px);
    padding: 4px 8px;
    position: absolute;
    transition: 0.2s;
    white-space: nowrap;
    z-index: 1;
    box-shadow: 0 2px 4px #0004;

    &:after {
      border-color: transparent var(--c-background) transparent transparent;
      border-style: solid;
      border-width: var(--arrow-size);
      content: '';
      left: calc(-1 * var(--arrow-size) * 2);
      position: absolute;
      top: calc(50% - var(--arrow-size));
    }
  }

  &:not(:hover) .tooltip {
    opacity: 0;
    visibility: hidden;
  }
}
